{% extends 'base.html' %}

{% block title %}MCA402{% endblock %}

{% block content %}
<h1>WELCOME TO INTER NET OF THINGS<h1>
<p>MCA402C:Internet of Things 
Fundamentals of IoT: Introduction, Definitions & Characteristics of IoT, IoT Architectures, Physical & 
Logical Design of IoT, Enabling Technologies in IoT, History of IoT, About Things in IoT, The Identifiers in 
IoT, About the Internet in IoT, IoT frameworks, IoT and M2M.  
UNIT II 
Sensors Networks : Definition, Types of Sensors, Types of Actuators, Examples and Working, IoT 
Development Boards: Arduino IDE and Board Types, RaspberriPi Development Kit, RFID Principles and 
components, Wireless Sensor Networks: History and Context, The node, Connecting nodes, Networking 
Nodes, WSN and IoT.  
UNITIII 
Wireless Technologies ForIot: WPAN Technologies for IoT: IEEE 802.15.4, Zigbee, HART, NFC, Z-Wave, 
BLE, Bacnet, Modbus. IP Based Protocols ForIoT:IPv6, 6LowPAN, RPL, REST, AMPQ, CoAP, MQTT.  
Edge connectivity and protocols 
UNI IV 
Data Handling& Analytics: Introduction, Bigdata, Types of data, Characteristics of Big data, Data handling 
Technologies, Flow of data, Data acquisition, Data Storage, Introduction to Hadoop. Introduction to data 
Analytics, Types of Data analytics, Local Analytics, Cloud analytics and applications, Edge/Fog Computing 
UNIT  V 
Applications of IoT: Home Automation, Smart Cities, Energy, Retail Management, Logistics, Agriculture, 
Health and Lifestyle, Industrial IoT, Legal challenges, IoT design Ethics, IoT in Environmental Protection. 
Text Books:  
1. Olivier Hersent, David Boswarthick, and Omar Elloumi, ― “The Internet of Things: Key Applications 
and Protocols”, WileyPublications 
2. Vijay Madisetti and ArshdeepBahga, ― “Internet of Things (A Hands-on-Approach)”, 1st Edition, VPT, 
2014.  
Reference Books 
1. Daniel Minoli, ― “Building the Internet of Things with IPv6 and MIPv6: The Evolving World of M2M 
Communications”,  ISBN: 978-1-118-47347-4, Willy Publications  
2. Pethuru Raj and Anupama C. Raman, "The Internet of Things: Enabling Technologies, Platforms, and Use 
Cases", CRC Press 
</p>
{% endblock %}