{% extends 'base.html' %}

{% block title %}MCA403{% endblock %}

{% block content %}
<h1>WELCOME TO MAJOR PROJECT WORK<h1>
<p>MCA 403. Major Project Work:  12 Credits 
1.  Project Seminar &. Project Report:  6 credits 
2. National / International Conference Publication Proceedings (External) : (paper based on National /  
International Journal Publication (External) (paper based on project should be submitted to the journal  
and should be published): 2 credits  
3. Viva Voce (External) &. Project Execution (External) : 4 credits  
</P>
{% endblock %}